# Rust
/target/
Cargo.lock
**/*.rs.bk
*.pdb

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vsproj

# Python
/.venv/

# Sphinx
/docs/_build/

# Doxygen
/docs/xml/
/docs/latex/

# Custom build output
/doc_build_test/
